/* Common Social Icons */
.social-icons {
  top: 50%; /* Center vertically */
  right: 20px; /* Fixed to the right */
  transform: translateY(-50%);
  z-index: 1000;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: white; /* Icon color */
}

/* Floating Action Button for Small Screens */
.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

.fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #991b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.fab-icons {
  position: absolute;
  bottom: 70px;
  right: 0;
  color: #fff;
  z-index: 1000;
}

.fab-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: white; /* Icon color */
  font-size: 1.2rem;
}
